* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
  --white-tone: #f1f6f8;

}


.login-page-wrapper , .signup-page-wrapper {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-tone);
}


.navbar {
  background-color: rgb(0, 110, 255);
  width: 100%;
  height: 5vh;
  top: 0%;
  margin-bottom: 2rem;
  box-shadow: 0 0 16px 2px grey;
  border-radius: 4px;
}


.homepage-wrapper > * {
  animation: GrowIn 100ms linear
}

.login-form-wrapper , .signup-form-wrapper {
  width: min(480px, 90%);
  height: min(480px, 40%);
  justify-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: var(--white-tone);
  box-shadow:  0 0 12px 1px grey;


}


.login-form , .signup-form {
  height: 80%;

  width: 75%;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-submit-btn , .signup-submit-btn {
  width: 6rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 4px;
  outline:none;
  border:none;
  box-shadow: 0 0 2px 1px rgb(182, 182, 182);
}

.login-submit-btn:hover , .signup-submit-btn:hover {
  transition-duration: 150ms;
  background-color: blue;
}


.form-input {
  padding: 0.25rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-input > label {
  text-transform: capitalize;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

}

.form-input > * {
  margin-top: 0.5rem;
}

.form-input > input {
  border-radius: 4px;
  padding: 0.25rem;
  width: 100%;
  border: none;
  height: 2rem;
  box-shadow: 0 0 2px 1px rgb(128, 128, 128);
}

.form-input > input:active {
  outline: 0.5px solid rgb(0, 110, 255);
}

.sidebar-wrapper {
  height:100vh;
  width: 20vw;
  background-color: var(--white-tone);
  box-shadow: 2px 0 4px 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

}

.sidebar-wrapper button {
  padding: 0.25rem;
  border-radius: 4px;
  margin: 1rem;
  width:90%
}

.sidebar-wrapper ul {
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-wrapper ul  {
  list-style-type: none;

  font-size: 1.25rem;
}


.homepage-wrapper {
  width: 100vw;
  height: 200vh;
  border: 1px solid green;
  display:flex;
  padding: 1.5%;

  align-items: center;
  justify-content: center;
}


@keyframes FadeIn {
  0%  {opacity: 0%;};
  2%  {opacity: 20%;};
  40%  {opacity: 40%;};
  60%  {opacity: 60%;};
  80% {opacity: 80%;};
  100%  {opacity: 100%;};
}

@keyframes GrowIn {
  0%  {transform: scale(70%);}
  20%  {transform: scale(75%);}
  40%  {transform: scale(80%);}
  60%  {transform: scale(85%);}
  80%  {transform: scale(90%);}
  100%  {transform: scale(100%);}
}

.homepage {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 1%;

}

.app-box-wrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 16px 2px grey;
  overflow: scroll;
  border-radius: 4px;
}

.app-box-wrapper button {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 16px 2px grey;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

.app-box-wrapper button > * {
  margin: 0.25rem
}

.app-box-wrapper button > svg {
  font-size: 1.5rem;
  font-weight: 100;  
}

.app-box-wrapper button:hover {
  opacity: 80%;
}

.app-box-wrapper button:active {
  box-shadow: inset 2px 2px 8px 1px grey, inset -2px -2px 8px 1px white;
  transform: scale(0.9, 0.9)
}

.app-view-item {
  width: 100%;
  height: 5rem;
  background-color: rgb(27, 117, 253);
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.app-box-wrapper h2 {
  font-size: 2rem;
}


.app-box-title {
  width: 100%;
  height: 5rem;
  display:grid;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr;
}

.app-add-button {
  justify-self: flex-end;
}

.app-box-title > span {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-view-item > span {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}

.app-view-item > span:hover {
  cursor: pointer
}

.ec-box-wrapper {
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 16px 2px grey;
  overflow: scroll;

}

.ec-box-wrapper h2 {
  align-self: flex-start;
  font-size: 1.75rem;;
  margin-bottom: 1rem;

}

.ec-box-wrapper::-webkit-scrollbar {
  display:none
}

.ec-view-item {
  border-radius: 4px;
  width: 100%;
  height: 3rem;
  background-color: rgb(27, 117, 253);
  font-size: 1.75rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
}

.ec-chooser-item-selected { 
  color: blue
}
.ec-chooser-item {
  color: green
}


.app-page-wrapper { 
  width: 100vw;
  height: 100vh; 
  padding: 2%
}

.app-page {
  animation: GrowIn 100ms linear;
  background-color: white;
  box-shadow: 0 0 16px 4px grey;
  height: 100%;
  width: 100%;  
  padding: 1.5%;
}

.app-page-heading-wrapper {
  margin-bottom: 1.5rem;
}

.app-page-heading-wrapper h2 {
  font-size: 4rem;
  text-transform: capitalize;
}

.app-page-heading-wrapper h4 {
  font-size: 2rem;
  text-transform: capitalize;
}


.app-page-ec-wrapper {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}
.app-page-ec-wrapper > h4 {
  margin-bottom: 0.5rem
}

.app-page-ecs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  width: 50%;
}

.app-page-ecs > div {
  font-size: 1rem;
  border-radius: 100px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  background-color: white;
  box-shadow: 2px 2px 8px 2px grey, -2px -2px 8px 2px white;
}

.app-page-ecs > div:active {
  transition-duration: 500ms;
  box-shadow: inset 2px 2px 8px 2px grey, inset -2px -2px 8px 2px white;
}

.app-page-ecs > div:hover {
  cursor: pointer
}

.no-apps-message {
  margin: 4rem;
  font-size: 3rem;
}


.ec-ongoing-toggle {
  background-color: blue;
}
.ec-ongoing-toggle-true {
  background-color: green;
  
}

.ec-add-button {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 16px 2px grey;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

.ec-add-button > * {
  margin: 0.25rem
}

.ec-add-button > svg {
  font-size: 1.5rem;
  font-weight: 100;  
}

.ec-add-button:hover {
  opacity: 80%;
}
.ec-add-button:active {
  box-shadow: inset 2px 2px 8px 1px grey, inset -2px -2px 8px 1px white;
  transform: scale(0.9, 0.9)
}