* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.login-page-wrapper , .signup-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.navbar {
  width: 100vw;
  height: 8.5vh;
  background-color: blue;
  position:fixed;
  top: 0%;

}


.login-form-wrapper , .signup-form-wrapper {
  width: min(480px, 90%);
  height: min(480px, 40%);
  border: 1px solid black;
  justify-self: center;
}
