* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --white-tone: #f1f6f8;

}


.login-page-wrapper , .signup-page-wrapper {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-tone);
}


.navbar {
  background-color: blue;
  width: 100vw;
  height: 5vh;
  top: 0%;

}


.login-form-wrapper , .signup-form-wrapper {
  width: min(480px, 90%);
  height: min(480px, 40%);
  justify-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: var(--white-tone);
  box-shadow:  0 0 12px 1px grey;


}


.login-form , .signup-form {
  height: 80%;

  width: 75%;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-submit-btn , .signup-submit-btn {
  width: 6rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 4px;
  outline:none;
  border:none;
  box-shadow: 0 0 2px 1px rgb(182, 182, 182);
}

.login-submit-btn:hover , .signup-submit-btn:hover {
  transition-duration: 150ms;
  background-color: blue;

}


.form-input {
  padding: 0.25rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-input > label {
  text-transform: capitalize;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

}

.form-input > * {
  margin-top: 0.5rem;
}

.form-input > input {
  border-radius: 4px;
  padding: 0.25rem;
  width: 100%;
  border: none;
  height: 2rem;
  box-shadow: 0 0 2px 1px rgb(128, 128, 128);
}

.form-input > input:active {
  outline: 0.5px solid rgb(0, 110, 255);
}

.sidebar-wrapper {
  height:100vh;
  width: 15vw;
  background-color: orange;
}

.app-add-box-wrapper {
  position: fixed;
  background-color: orange;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  
  display: none;
  flex-direction: column;
  align-items: center;
  transition-duration: 500ms;
}