* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
  --white-tone: #f1f6f8;
  --blue-tone: rgb(0, 110, 255);
}


.login-page-wrapper , .signup-page-wrapper {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-tone);
}


.navbar {
  background-color: var(--blue-tone);
  width: 100%;
  height: 5vh;
  top: 0%;
  margin-bottom: 2rem;
  box-shadow: 0 0 16px 2px grey;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar > a > button {
  background-color: white;
  color: var(--blue-tone);
  padding: 0.5rem;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  width: 6rem;
  cursor: pointer;
  transition-duration: 350ms;
}

.navbar > a > button:hover{
  opacity: 80%;
}

.navbar > a {
  margin: 1rem;
  color:white;
  font-weight: 600;
  text-decoration:none;
}

.homepage-wrapper .navbar {
  border-radius: 4px;
}


.homepage-wrapper > * {
  animation: GrowIn 100ms linear
}

.login-form-wrapper , .signup-form-wrapper {
  width: min(480px, 90%);
  height: min(480px, 40%);
  justify-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: var(--white-tone);
  box-shadow:  0 0 12px 1px grey;


}


.login-form , .signup-form {
  height: 80%;

  width: 75%;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-submit-btn , .signup-submit-btn {
  width: 6rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 4px;
  outline:none;
  border:none;
  box-shadow: 0 0 2px 1px rgb(182, 182, 182);
}

.login-submit-btn:hover , .signup-submit-btn:hover {
  transition-duration: 150ms;
  background-color: blue;
}


.form-input {
  padding: 0.25rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-input > label {
  text-transform: capitalize;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

}

.form-input > * {
  margin-top: 0.5rem;
}

.form-input > input {
  border-radius: 4px;
  padding: 0.25rem;
  width: 100%;
  border: none;
  height: 2rem;
  box-shadow: 0 0 2px 1px rgb(128, 128, 128);
}

.form-input > input:active {
  outline: 0.5px solid var(--blue-tone);
}

.sidebar-wrapper {
  height:100vh;
  width: 20vw;
  background-color: var(--white-tone);
  box-shadow: 2px 0 4px 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

}

.sidebar-wrapper button {
  padding: 0.25rem;
  border-radius: 4px;
  margin: 1rem;
  width:90%
}

.sidebar-wrapper ul {
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-wrapper ul  {
  list-style-type: none;

  font-size: 1.25rem;
}


.homepage-wrapper {
  width: 100vw;
  height: 200vh;
  border: 1px solid green;
  display:flex;
  padding: 1.5%;

  align-items: center;
  justify-content: center;
}


@keyframes FadeIn {
  0%  {opacity: 0%;};
  2%  {opacity: 20%;};
  40%  {opacity: 40%;};
  60%  {opacity: 60%;};
  80% {opacity: 80%;};
  100%  {opacity: 100%;};
}

@keyframes GrowIn {
  0%  {transform: scale(70%);}
  20%  {transform: scale(75%);}
  40%  {transform: scale(80%);}
  60%  {transform: scale(85%);}
  80%  {transform: scale(90%);}
  100%  {transform: scale(100%);}
}

.homepage {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 1%;

}

.app-box-wrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 16px 2px grey;
  overflow: scroll;
  border-radius: 4px;
}

.app-box-wrapper button {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 16px 2px grey;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

.app-box-wrapper button > * {
  margin: 0.25rem
}

.app-box-wrapper button > svg {
  font-size: 1.5rem;
  font-weight: 100;  
}

.app-box-wrapper button:hover {
  opacity: 80%;
}

.app-box-wrapper button:active {
  box-shadow: inset 2px 2px 8px 1px grey, inset -2px -2px 8px 1px white;
  transform: scale(0.9, 0.9)
}

.app-view-item {
  width: 100%;
  height: 5rem;
  background-color: rgb(27, 117, 253);
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 0.5rem;
}

.app-box-wrapper h2 {
  font-size: 2rem;
}


.app-box-title {
  width: 100%;
  height: 5rem;
  display:grid;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.app-add-button {
  justify-self: flex-end;
}

.app-box-title > span {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-view-item > span {
  display:flex;
  font-size: 1.25rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer
}


.ec-box-wrapper {
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 16px 2px grey;
  overflow: scroll;

}

.ec-box-wrapper h2 {
  align-self: flex-start;
  font-size: 1.75rem;;
  margin-bottom: 1rem;

}

.ec-box-wrapper::-webkit-scrollbar {
  display:none
}

.ec-view-item {
  border-radius: 4px;
  width: 100%;
  height: 3rem;
  background-color: rgb(27, 117, 253);
  font-size: 1.75rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
}


.app-page-wrapper { 
  width: 100vw;
  height: 100vh; 
  padding: 2%;

}

.app-page {
  animation: GrowIn 100ms linear;
  background-color: white;
  box-shadow: 0 0 16px 4px grey;
  height: 100%;
  width: 100%;  
  padding: 1.5%;
}

.app-page-heading-wrapper {
  margin-bottom: 1.5rem;
}

.app-page-heading-wrapper h2 {
  font-size: 4rem;
  text-transform: capitalize;
}

.app-page-heading-wrapper h4 {
  font-size: 2rem;
  text-transform: capitalize;
}


.app-page-ec-wrapper {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}
.app-page-ec-wrapper > h4 {
  margin-bottom: 0.5rem
}

.app-page-ecs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  width: 50%;
}

.app-page-ecs > div {
  font-size: 1rem;
  border-radius: 100px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  background-color: white;
  box-shadow: 2px 2px 8px 2px grey, -2px -2px 8px 2px white;
}

.app-page-notes {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.25rem;;
}

.app-page-notes > h4{
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.app-page-ecs > div:active {
  transition-duration: 500ms;
  box-shadow: inset 2px 2px 8px 2px grey, inset -2px -2px 8px 2px white;
}

.app-page-ecs > div:hover {
  cursor: pointer
}

.app-dates {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;

}

.app-dates > div {
  margin-bottom: 0.5rem;
  background-color: var(--blue-tone);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 4px;

}
 

.no-apps-message {
  margin: 4rem;
  font-size: 3rem;
}

.app-delete-button {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.5rem;
  outline: none;
  border: none;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  align-self: flex-start;
  justify-self: flex-end;
  width: 7.5%;
  color: white;
  font-weight: 800;
  background-color: rgb(255, 92, 43);
  cursor: pointer
}

.app-delete-button:active{
  box-shadow: 0 0 12px 1px grey;
  transform: scale(0.9, 0.9);
}



.ec-add-button {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 16px 2px grey;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

.ec-add-button > * {
  margin: 0.25rem
}

.ec-add-button > svg {
  font-size: 1.5rem;
  font-weight: 100;  
}

.ec-add-button:hover {
  opacity: 80%;
}
.ec-add-button:active {
  box-shadow: inset 2px 2px 8px 1px grey, inset -2px -2px 8px 1px white;
  transform: scale(0.9, 0.9)
}

.app-add-form-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 2%;
}

.app-add-form {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 16px 2px grey;
  padding: 1.5rem; 
  display:flex;
  flex-direction: column;
}

.app-add-input-item {
  display:flex;
  flex-direction: column;
}

.app-add-input-item > input {
  width: 35%;
}

.app-add-input-item > label {
  font-size: 1.5rem;
}

.app-add-input-item > textarea {
  height: 10rem;
  border-radius: 4px;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  padding: 0.75rem;
  
}

.app-add-input-item > input {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  height: 2rem;
  border-radius: 4px;
  padding: 0.5rem;

}

.app-add-input-item > input[type="date"]{
  padding: 1rem;
  width: 10%;
  border-radius: 4px;
  border: none;
  background-color: rgb(27, 117, 253);
  color: white;
  outline: none;
  cursor: pointer;
  transition-duration: 200ms;
}

.app-add-input-item > input[type="date"]::-webkit-calendar-picker-indicator {
  transform: scale(1.5,1.5);
}

.app-add-ec-chooser{
  padding: 1%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ec-chooser-item {
  cursor: pointer;
  border-radius: 100px;
  padding: 0.5rem;
  display:flex;
  margin: 0.25rem;
  box-shadow: 2px 2px 5px 1px grey, -2px -2px 4px 1px white;
}

.ec-chooser-item-selected {
  margin: 0.25rem;

  cursor: pointer;
  display:flex;
  border-radius: 100px;
  padding: 0.5rem;
  box-shadow: inset 2px 2px 1px 1px grey, inset -2px -2px 2px 1px white;
}

.app-submit {
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 16px 2px grey;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  align-self: center;
  width: 10%;

}

.app-submit:hover {
  opacity: 80%;
}

.app-submit:active {
  box-shadow: inset 2px 2px 8px 1px grey, inset -2px -2px 8px 1px white;
  transform: scale(0.9, 0.9)
}

.ec-create-form-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  animation: GrowIn 100ms 
}

.ec-create-form {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 16px 2px grey;
  padding: 2rem;
  justify-content: flex-start;
  overflow: scroll;
}


.ec-create-form::-webkit-scrollbar {
  display: none;
}


.ec-input-wrapper {
  width: 100%;
  margin-top: 0.75rem;
  margin-top: 0.75rem;
  display:flex;
  flex-direction: column;
  width: 100%;

}


.ec-input-wrapper > label {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.ec-input-wrapper > input {
  width: 35%;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  border-radius: 4px
}
.ec-input-wrapper > textarea {
  height: 12rem;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.75rem

}
.ec-input-wrapper > input[type="date"] {
  padding: 0.5rem;
  width: max(12rem, 10%);
  border-radius: 4px;
  border: none;
  background-color: rgb(27, 117, 253);
  color: white;
  outline: none;
  cursor: pointer;
  transition-duration: 200ms;
}

.ec-input-wrapper > input[type="date"]:disabled {
  background-color: grey;
  opacity: 75%;
  cursor:not-allowed
}

.submit-ec {
  background-color: white;
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.75rem;
  outline: none;
  border: none;
  margin: 1.5rem;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  width: min(12rem, 30%);
  align-self: center;
  box-shadow: 0 0  16px 1px grey;
  justify-self: flex-end;
}

.submit-ec:active {
  
  box-shadow: inset 0 0  16px 1px grey;
}


.ec-ongoing-toggle {
  background-color: white;
  transition-duration: 250ms;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  align-self: flex-start;
  box-shadow: 2px 2px 16px 1px grey, -2px -2px 16px 1px white;
  
}
.ec-ongoing-toggle-true {
  background-color: white;
  transition-duration: 250ms;
  border-radius: 4px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  outline: none;
  border: none;;
  align-items: center;
  align-self: flex-start;
  box-shadow: inset 2px 2px 4px 1px grey, inset -2px -2px 4px 1px white;

}

.ec-page-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 2%;

}


.ec-page {
  padding: 2rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 16px 2px grey;
  width: 100%;
  height: 100%; 
}


.ec-page > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;

}

.ec-page > h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.ec-references {
  display:flex;
  flex-direction: column;
  width: min(40rem, 90%);
  margin-bottom: 1.5rem;

}
.ec-references > h4 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;

}

.ec-reference-info {
  font-weight: 600;
  display:grid;
  grid-template-columns: 2fr 2fr 2fr;
  width: 100%;
  margin-bottom: 0.75rem;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--blue-tone);
  color: white;
  padding: 0.25rem;

}

.ec-reference-info > span {
  padding: 0.5rem;
  text-align: center;
  vertical-align: center;
}

.ec-reference-info > span:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}




.ec-page > p {
  font-weight: 300;
  margin-bottom: 3rem;
  
}

.ec-dates {
  font-size: 1rem;
  margin-bottom: 4rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.ec-dates > span {
  margin-bottom: 0.5rem;
  background-color: var(--blue-tone);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 4px;

}


.ec-delete { 
  transition-duration: 250ms;
  border-radius: 100px;
  padding: 0.5rem;
  outline: none;
  border: none;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  align-self: flex-start;
  justify-self: flex-end;
  width: 7.5%;
  color: white;
  font-weight: 800;
  background-color: rgb(255, 92, 43);
  cursor: pointer
}


.ec-delete:active {
  box-shadow: 0 0 12px 1px grey;
  transform: scale(0.9, 0.9);
}

.reference-box-wrapper {
  align-self: center;
  display:flex;
  flex-direction: column;
  width: min(768px, 100%);
  margin-bottom: 2rem;
}

.references-wrapper, .heading-wrapper {
  margin-bottom: 1rem;
  animation: GrowIn 50ms;
}

.reference-item {
  animation: GrowIn 50ms;
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-columns: 4fr 4fr 4fr 1fr;
}

.reference-item > span {
  border: 1px solid grey;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.reference-add-wrapper {
  border-radius: 4px;
  background-color: white;
  width: 100%;
}
.reference-add-wrapper > div {
  border-radius:  4px;
}

.reference-add-wrapper > div > button {
  border-radius: 0px ;
  border: none;
  background-color: var(--blue-tone);
  color:white;
}

.heading-wrapper {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-columns: 4fr 4fr 4fr 1fr;
}

.heading-wrapper > span {
  background-color: var(--blue-tone);
  color:white;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.heading-wrapper > span:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.reference-box-wrapper > h3 {
  margin: 2rem;
  align-self: center;
}

.reference-add-wrapper > h5 { 
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;

} 

.reference-add-wrapper > div  {
  border-radius: 4px;
  height: 2.5rem;
  display:flex;
  flex-direction: row;
  justify-content: stretch;
}

.reference-add-wrapper > div > input {
  width: 29%;
  outline: none;
  border: 1px solid grey;
  padding: 0.5rem;
}

.reference-add-wrapper > div > button {
  width: 13%;
  padding: 0.25rem;
} 

.back-button {
  padding: 0.75rem;
  border-radius: 100px;
  background-color: white;
  box-shadow: 0px 2px 8px 1px grey;
  border: none;
  top: 1%;
  left: 50%;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding-left: 30px;
  padding-right: 30px;
}

.pfp-wrapper {
  width: 100vw;
  height: 100vh;
  display:grid;
  padding: 2%;
  grid-template-columns: 1fr 1fr;
}

.pfp-wrapper > * {animation:GrowIn 100ms;}

.essay-manager-wrapper {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  box-shadow: 0 0 16px 2px grey;
  padding: 3rem;
}

.essay-item {
  margin-bottom: 0.5rem;
  background-color: var(--blue-tone);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer
}


.essay-viewer {
  display:flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  animation: GrowIn 200ms;
  background-color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  box-shadow: 0 0 16px 2px grey;
  overflow-y: scroll;
}

.essay-viewer > button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin: 1vh;
  align-self: flex-end;
  cursor: pointer;
}

.essay-viewer > .essay-delete {
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #ff0932;
  width: 4rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.essay-viewer::-webkit-scrollbar{display: none;}

.essay-viewer > h2 {
  margin-left: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
}

.essay-viewer > pre {
  white-space: pre-wrap;
  margin: 1%;
  font-size: 1.25rem;


}

.essay-viewer > h4 {
  width: 90%;
  font-weight: 500;
  white-space: pre-wrap;
  margin-left: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
}

.essay-viewer > a{ 
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: var(--blue-tone);
  width: 4rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.essay-viewer > a:hover {
  opacity: 90%;
}

.essay-form-wrapper {
  padding: 2%;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.essay-form {
  display:flex;
  flex-direction: column;
  padding: 3%;
  box-shadow: 0 0 16px 2px grey;
  width: 100%;
  height: 100%;
}

.essay-form-input {
  display :flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

.essay-form-input > label {
  font-size: 2rem;
  margin-bottom: 0.25rem;

}

.essay-form-input > input {
  font-size: 1rem;
  border-radius: 4px;
  vertical-align: center;
  padding: 0.5rem
}


.essay-form-input > textarea {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  height: 24rem
}

