* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
  --white-tone: #f1f6f8;

}


.login-page-wrapper , .signup-page-wrapper {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-tone);
}


.navbar {
  background-color: blue;
  width: 100vw;
  height: 5vh;
  top: 0%;

}


.login-form-wrapper , .signup-form-wrapper {
  width: min(480px, 90%);
  height: min(480px, 40%);
  justify-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: var(--white-tone);
  box-shadow:  0 0 12px 1px grey;


}


.login-form , .signup-form {
  height: 80%;

  width: 75%;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-submit-btn , .signup-submit-btn {
  width: 6rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 4px;
  outline:none;
  border:none;
  box-shadow: 0 0 2px 1px rgb(182, 182, 182);
}

.login-submit-btn:hover , .signup-submit-btn:hover {
  transition-duration: 150ms;
  background-color: blue;
}


.form-input {
  padding: 0.25rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-input > label {
  text-transform: capitalize;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

}

.form-input > * {
  margin-top: 0.5rem;
}

.form-input > input {
  border-radius: 4px;
  padding: 0.25rem;
  width: 100%;
  border: none;
  height: 2rem;
  box-shadow: 0 0 2px 1px rgb(128, 128, 128);
}

.form-input > input:active {
  outline: 0.5px solid rgb(0, 110, 255);
}

.sidebar-wrapper {
  height:100vh;
  width: 20vw;
  background-color: var(--white-tone);
  box-shadow: 2px 0 4px 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

}

.sidebar-wrapper button {
  padding: 0.25rem;
  border-radius: 4px;
  margin: 1rem;
  width:90%
}

.sidebar-wrapper ul {
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-wrapper ul  {
  list-style-type: none;

  font-size: 1.25rem;
}

.app-add-box-wrapper {
  position: fixed;
  background-color: var(--white-tone);
  height: 90%;
  width: min(90%, 80vw);
  top: 5%;
  left: 50%;
  transform:translate(-50%);
  display: none;
  animation: FadeIn 500ms;
  flex-direction: column;
  align-items: center;
  transition-duration: 500ms;
  box-shadow: 0 0 32px 4px grey;
  padding: 1.5rem;
  border-radius: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.ec-chooser-wrapper {
  display:flex;
  width: 95%;
  margin: 0.5rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.applications-page {
  display:flex;
  flex-direction: row;
  background-color: var(--white-tone);
}

.application-list{
  display:flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  width: 100%;
  padding: 1.5rem;

}

.application-list-item {
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;

  justify-content: flex-start;
  border: 1px solid black;
  width: 100%;
  height: min-content;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--white-tone);
  box-shadow: -1px -1px 4px 1px white,  1px 1px 4px 1px grey;
} 

.application-list-item > span {
  border: 1px solid black;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 1rem;
  overflow-wrap: break-word;

}

@keyframes FadeIn {
  0%   {opacity: 0%}
  25%  {opacity: 25%}
  50%  {opacity:  50%}
  100% {opacity:  100%}
}

.ec-item , .ec-item-selected {
  transition-duration: 150ms;
  padding: 0.5rem;
  border-radius: 100px;
  margin: 0.25rem
}

.ec-item:hover , .ec-item-selected:hover{ 
  cursor:pointer
}

.ec-item {
  background-color: var(--white-tone);
  box-shadow: -2px -2px 4px 1px white, 2px 2px 4px 1px grey;
}

.ec-item-selected {
  box-shadow: inset -2px -2px 4px 1px white, inset 2px 2px 4px 1px grey;
}

.pfp-wrapper {
  width: 100%;
  height: 95vh;
  border: 2px solid blue;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;

}

.profile-ec-wrapper {
  width: 40%;
  height: 90%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid black;
  text-align: center;
}

.profile-ec-list{
  width: 100%;
  height: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem
}

.profile-ec-list-item {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem;
  background-color: white;
  box-shadow:  0 0 4px 1px grey;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.ecbox-wrapper {
  animation: FadeIn 500ms ;
  height: 90%;
  width: min(90%, 80vw);
  top: 5%;
  left: 50%;
  transform:translate(-50%);
  padding: 1.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px 2px grey;
  position: fixed;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.ecbox-wrapper-offscreen {
  height: 90%;
  width: min(90%, 80vw);
  top: 5%;
  left: 50%;
  transform:translate(-50%);
  padding: 1.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px 2px grey;
  position: fixed;
  align-self: center;
  display: flex;
  flex-direction: column;
  display: none;
}

.app-view-wrapper-onscreen {
  animation: FadeIn 250ms;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  width: min(1366px, 90%);
  height: 80%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white-tone);
  box-shadow: 0 0 32px 8px black;
}
